@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#user_info{
  width: 100%;
  text-align: right;
}

#login_controls{
  margin:auto;
  width: 700px;
}

.login_buttons{
  width: 300px;
  height: 100px;
  float:left;
  margin: 20px;
  font-size: 20px;

}

.bug_post{
  width: 350px;
  display: inline-block;
  margin: 10px;
  background-color: yellow;
  border-radius: 10px;
}

.reported{
  background-color: #ff4d4d;
}

.waiting{
  background-color: #99ccff;
}

.resolved{
  background-color: #80ff80;
}

.assigned{
  background-color: #ffff66;
}

#reported_bugs{
  width:100%;
  float: left;

}

#your_bugs{
  width:100%;
  height: 200px;
  float: left;
}

.bug_list{
  margin: 20px;
  width:90%;
  border-bottom: 1px solid;
}

.form-control{
  margin-bottom: 20px;
}

#report_bug{
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  background-color: #ccf5ff;
  border-radius: 10px;
  margin-right: 160px;
}

#report_bug p{
  font-size: 20px;
  margin: 20px;
}

#bug_press{
  padding-top: 40px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#bugs h2{
  text-align: left;
  font-size: 40px;
  color: #666666;
}

#bug_report h1{
  text-align: left;
}

#bug_report p{
  font-size: 20px;
}

#bug_table{
  margin: auto;
  width: 800px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px 15px;

}

#bug_table td{
  width: 50%;
}

#filter_bugs{
  width:50%;
  float: left;
  margin:auto;
}

#report_controls{
  width:100%;
  height: 50px
}

#report_content{
  width: 100%;
}

#button_div{
  float:left;
}


.show_button{
  width: 150px;
  margin:auto;
}
